dist: trusty
sudo: required

addons:
  sonarqube:
    token:
      secure: "misJKZNuAn/vMByvTFE8hxXpx2AEDAc08nNbJccoKOkdojHGLyqXLu4TAhZxckMwpvi5u0gagXB4hDsPNfpiOVlGGyCp4d+7h+lG9l2MDCd5czQVmAsjRRe4VuRlI9a2gV3m6ZYs+WbXUINcMgotp4VUQ3/hpxnKNhg5DufGEDiFIDm3p+/iJnCV82p5NMSGkuK5l6DXkmvZFaAf+67t6mEAUi3MbEw3jOPR+0IDSsgvxaiJWtiegA9owk0M01fWP1O7tKDvq1L/0oekHjaQ/cQUiE2nwNrQmbA5oMRNKscOJAYvmj5gVvpy9Y+wJNV9yjPvx3dP8JNJBX9APIzLjK92LELc2u+CwSCuI6hZQF1QibWG3/4ARh15Mydg06E7gyej8HYrKpXIVB9uPLpy9LI8tktCYCNXaJcaiQNkB/NpbX1ZMXbcW/FWXueNzI1FvkKf8ZbDPAWuR376423bcCuHnkfCwhinHBf6MglDNGuD06FZQpRK929QP7MoPAUGjrlksYahtKe/Ud6hRS07bFaYOD6F6Cy6ll1q6kluQa1KHUtjL9TaB0EqnWdD9DMnqe4azyykYlltEHIYBQqbgg/sqCjE7diDwCR3A2adJUmZB3zkDiCVLSr9jHungsmAbsreAzvycWABufW1pjrt8ninNCHJsHaZ3ADjG7RGj/4="
    github_token:
      ecure: "ZGxcnrD9BaL5D7ip+fxSr7r5PNopZPoNjS9/XpC2jbbnDMdIhyu3Mx2shwZIS86YLikFhG3Hqf9FMsodl0wCj6pkeD3h6s9p5hkDt9/zgYmFamHaL2Ax9zPMMK6aUezv6mfu/iysBpqePXH6McJmtUIhkMPElq0Thd7SYi3huIEgtsY0ONmcz9n3BpcVs7uZe5mjLhRRG0mwlJHzuK+VzdqKw/Cg6AqdOuOzGW8H4dgdPa1sAmUsLy7OM0LG4Y1VIYg22qwsBNGBa6nlKQY/l/uum6WMGoImOjzhNlJXaXpw4DIliqOy/tOOlAmul1TEdj2iHDmHlxosfTyM0GD1IQFMMMdw9nSob8ev3QEIj0RZgezCkX13Gse6s748GM1XSxKpeT/18a7F30+czDK0tPN3rv2p0INubf1d5C5g8vnapFarSxL7vRYppUkOIgWurKOZc/L1VHw8mOUBb78bMJ6xn2yYOn51FUL3rSagm7ka1pBQTHBjULjP1A4Qpj0oKmK3u51MPkZQZTM9FzA4/lDgIRQmfoFy8n0iOc8MkGpDtcM38oQUpA1/IpRpjnmicyfnVuYXpazW3bWaHGdvnRJq/5gtbAepQscDOmRcT8xdN865BdE4xJIcsc3V5uKbzhmpa1CA6QiBIzWxjA6ZWQSJ3k6RBlusn3SSjz7faCc="
jdk:
  - oraclejdk8
script:
  - sonar-scanner
cache:
  directories:
    - '$HOME/.sonar/cache'